table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 0.8rem;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #907ce2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  